.wrap
  .about-container
    %h1
      About
    .left-col
      %p
        Content Coming Soon.
    .right-col
      =image_tag('site_assets/about-1.jpg', class:'main-image')
      =image_tag('site_assets/about-2.jpg', class:'secondary-image')
      =image_tag('site_assets/about-3.jpg', class:'third-image')
      =image_tag('site_assets/about-4.jpg', class:'fourth-image')