A:link {
	
}
A:visited {
	
}
A:active {
	
}
A:hover {
	
}
A {
	
}
A:active {
	
}
A:visited {
	
}
A:hover {
	
}
BODY {
	
}
TD {
	
}
P {
	
}
LI {
	
}
DIV {
	
}
TD {
	
}
TR {
	
}
BODY {
	MARGIN: 0px
}
TABLE {
	
}
BODY {
	
}
DD {
	
}
LI {
	
}
P {
	
}
TD {
	
}
TH {
	
}
.titleColor {
	COLOR: black
}
.thumbNail {
	BORDER-RIGHT: azure 2px groove; BORDER-TOP: azure 2px groove; BACKGROUND: black; BORDER-LEFT: azure 2px groove; WIDTH: 120px; BORDER-BOTTOM: azure 2px groove; BORDER-COLLAPSE: collapse; HEIGHT: 90px; border-spacing: 0px
}
.sidelinksa {
	FONT-SIZE: 10px; COLOR: black; FONT-FAMILY: verdana, Arial; TEXT-DECORATION: none
}
.sidelinksa:active {
	FONT-SIZE: 10px; COLOR: black; FONT-FAMILY: verdana, Arial; TEXT-DECORATION: none
}
.sidelinksa:visited {
	FONT-SIZE: 10px; COLOR: black; FONT-FAMILY: verdana, Arial; TEXT-DECORATION: none
}
.sidelinksa:hover {
	FONT-SIZE: 10px; COLOR: maroon; FONT-FAMILY: verdana, Arial; TEXT-DECORATION: none
}
.sidelinkSelected:active {
	FONT-SIZE: 10px; COLOR: darkblue; FONT-FAMILY: verdana, Arial; TEXT-DECORATION: none
}
.sidelinkSelected:visited {
	FONT-SIZE: 10px; COLOR: darkblue; FONT-FAMILY: verdana, Arial; TEXT-DECORATION: none
}
.sidelinkSelected:hover {
	FONT-SIZE: 10px; COLOR: darkblue; FONT-FAMILY: verdana, Arial; TEXT-DECORATION: none
}
.sidelinkSelected {
	FONT-SIZE: 10px; COLOR: darkblue; FONT-FAMILY: verdana, Arial; TEXT-DECORATION: none
}
.tabBody {
	BORDER-RIGHT: #c0c0c0 2px solid; SCROLLBAR-FACE-COLOR: #ffffff; FONT-WEIGHT: 200; FONT-SIZE: 10px; BACKGROUND: black; SCROLLBAR-HIGHLIGHT-COLOR: #000000; OVERFLOW: auto; BORDER-LEFT: #c0c0c0 2px solid; SCROLLBAR-SHADOW-COLOR: #000000; COLOR: white; SCROLLBAR-3DLIGHT-COLOR: #c0c0c0; SCROLLBAR-ARROW-COLOR: darkblue; SCROLLBAR-TRACK-COLOR: #333333; BORDER-BOTTOM: #c0c0c0 2px solid; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; SCROLLBAR-DARKSHADOW-COLOR: #c0c0c0; SCROLLBAR-BASE-COLOR: #ffffff
}
.tabText {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; COLOR: #dfdfdf; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.dealerMessage {
	SCROLLBAR-FACE-COLOR: #333333; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: black; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #555555; OVERFLOW: auto; SCROLLBAR-SHADOW-COLOR: #111111; COLOR: #dfdfdf; SCROLLBAR-3DLIGHT-COLOR: #111111; BORDER-TOP-STYLE: none; SCROLLBAR-TRACK-COLOR: #000000; FONT-FAMILY: verdana, Arial; BORDER-RIGHT-STYLE: none; SCROLLBAR-DARKSHADOW-COLOR: #111111; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.hiLiteLink {
	FONT-SIZE: 10pt; COLOR: yellow
}
.hi {
	FONT-WEIGHT: 700; FONT-SIZE: 8pt; COLOR: yellow; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.hi:hover {
	COLOR: darkgray
}
.vehiclebullets {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; SCROLLBAR-FACE-COLOR: #f0f000; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #141414; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #000000; OVERFLOW: auto; SCROLLBAR-SHADOW-COLOR: #000000; COLOR: #dfdfdf; SCROLLBAR-3DLIGHT-COLOR: #c0c0c0; SCROLLBAR-ARROW-COLOR: darkblue; PADDING-TOP: 0px; SCROLLBAR-TRACK-COLOR: #333333; FONT-FAMILY: verdana, Arial; SCROLLBAR-DARKSHADOW-COLOR: #111111; SCROLLBAR-BASE-COLOR: #ffe500
}
.hiLiteLink {
	FONT-SIZE: 10pt; COLOR: yellow
}
.hi {
	FONT-WEIGHT: 700; FONT-SIZE: 8pt; COLOR: yellow; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.hi:hover {
	COLOR: darkgray
}
.headlines {
	
}
.hi:visited {
	FONT-WEIGHT: 700; FONT-SIZE: 8pt; COLOR: yellow; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.headlines {
	
}
.hi:visited {
	FONT-WEIGHT: 700; FONT-SIZE: 8pt; COLOR: yellow; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.blueLink {
	COLOR: #dddddd
}
.descTitle {
	WIDTH: 100%; COLOR: black
}
.catHeader {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-COLOR: #c0c0c0; BORDER-BOTTOM-COLOR: #c0c0c0; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: solid; BACKGROUND-COLOR: black; BORDER-RIGHT-COLOR: #c0c0c0; BORDER-BOTTOM-STYLE: none
}
.catHeaderRight {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-COLOR: #c0c0c0; BORDER-BOTTOM-COLOR: #c0c0c0; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: black; BORDER-BOTTOM-STYLE: none
}
.catHeaderTop {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-COLOR: #c0c0c0; BORDER-BOTTOM-COLOR: #c0c0c0; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #5a8282; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #c0c0c0; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: solid; BACKGROUND-COLOR: #f0f0f0; BORDER-RIGHT-COLOR: #c0c0c0; BORDER-BOTTOM-STYLE: none
}
.contactInfo {
	BORDER-RIGHT: #d9d9d9 2px outset; BORDER-TOP: #d9d9d9 2px outset; FONT-SIZE: 11px; BACKGROUND: #333333; BORDER-LEFT: #d9d9d9 2px outset; COLOR: #d9d9d9; BORDER-BOTTOM: #d9d9d9 2px outset; BORDER-COLLAPSE: collapse; border-spacing: 0px
}
.border {
	BORDER-RIGHT: #999999 5px solid; PADDING-RIGHT: 0px; BORDER-TOP: #999999 5px solid; PADDING-LEFT: 0px; FONT-SIZE: 11px; BACKGROUND: black; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #999999 5px; COLOR: white; PADDING-TOP: 0px; BORDER-BOTTOM: #999999 5px; FONT-FAMILY: verdana, Arial
}
.BodyFonts {
	COLOR: #999999
}
.hiLiteLinkText {
	FONT-SIZE: 10pt; COLOR: yellow; TEXT-DECORATION: underline
}
.hiLiteLinkText:active {
	FONT-SIZE: 10pt; COLOR: yellow; TEXT-DECORATION: none
}
.hiLiteLinkText:visited {
	FONT-SIZE: 10pt; COLOR: yellow; TEXT-DECORATION: underline
}
.hiLiteLinkText:hover {
	FONT-SIZE: 10pt; COLOR: yellow; TEXT-DECORATION: none
}
.db {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.dbGray {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: #333333; BORDER-LEFT: medium none; COLOR: #f2f2f2; BORDER-BOTTOM: medium none; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.dbLightGray {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #666666; BORDER-LEFT: medium none; COLOR: #f0f000; BORDER-BOTTOM: medium none; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.topBorder {
	BORDER-RIGHT: #666666; BORDER-TOP: #666666; BACKGROUND: #666666; BORDER-LEFT: #666666; BORDER-BOTTOM: #666666
}
.tbBorder {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.noBorder {
	BORDER-RIGHT: black; BORDER-TOP: black; BACKGROUND: black; BORDER-LEFT: black; BORDER-BOTTOM: black
}
.generalFont {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: black; COLOR: #ffffff; FONT-FAMILY: verdana, Arial
}
.normalFont {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: black; COLOR: white; FONT-FAMILY: verdana, Arial
}
.genLink {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #999999; TEXT-DECORATION: none
}
.genLink:active {
	COLOR: #999999; TEXT-DECORATION: none
}
.genLink:visited {
	COLOR: #999999; TEXT-DECORATION: none
}
.genLink:hover {
	COLOR: white; TEXT-DECORATION: none
}
.aLink {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: yellow; TEXT-DECORATION: underline
}
.aLink:active {
	COLOR: #999999; TEXT-DECORATION: none
}
.aLink:visited {
	COLOR: yellow; TEXT-DECORATION: underline
}
.aLink:hover {
	COLOR: white; TEXT-DECORATION: none
}
.whiteTable {
	BORDER-RIGHT: aliceblue 2px groove; BORDER-TOP: aliceblue 2px groove; BACKGROUND: black; BORDER-LEFT: aliceblue 2px groove; BORDER-BOTTOM: aliceblue 2px groove; BORDER-COLLAPSE: collapse; border-spacing: 0px
}
.maintable {
	BORDER-RIGHT: #b6bdd2 2px groove; BORDER-TOP: #b6bdd2 2px groove; BACKGROUND: black; BORDER-LEFT: #b6bdd2 2px groove; BORDER-BOTTOM: #b6bdd2 2px groove; BORDER-COLLAPSE: collapse; border-spacing: 0px
}
