.nav-container
  =image_tag('site_assets/SavannahRC.svg', class:'src-logo')
  .nav-items
    =link_to 'Back to Collection', '/#collection', class:'collection-nav-link'
    =link_to 'About','/about', class:'about-nav-link'
