@font-face {
  font-family: 'intro';
  src: url('../fonts/Intro.eot');
  src: url('../fonts/Intro.woff2') format('woff2'),
       url('../fonts/Intro.woff') format('woff'),
       url('../fonts/Intro.ttf') format('truetype'),
       url('../fonts/Intro.svg#Intro') format('svg'),
       url('../fonts/Intro.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'intro-l';
  src: url('../fonts/Intro-Light.eot');
  src: url('../fonts/Intro-Light.woff2') format('woff2'),
       url('../fonts/Intro-Light.woff') format('woff'),
       url('../fonts/Intro-Light.ttf') format('truetype'),
       url('../fonts/Intro-Light.svg#Intro-Light') format('svg'),
       url('../fonts/Intro-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'longhaul';
  src: url('../fonts/Longhaul.eot');
  src: url('../fonts/Longhaul.woff2') format('woff2'),
       url('../fonts/Longhaul.woff') format('woff'),
       url('../fonts/Longhaul.ttf') format('truetype'),
       url('../fonts/Longhaul.svg#Longhaul') format('svg'),
       url('../fonts/Longhaul.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
