.hero-container {
  width: 100%;
  display: block;
  background-image: url('../images/site_assets/hero-collection.jpg');
  background-size: cover;
  background-position: center -100px;
  height: 100vh;
  background-repeat: no-repeat;
}
