@mixin longhaul {
  font-family: 'longhaul';
}
@mixin intro {
  font-family: 'intro';
}
@mixin intro-l {
  font-family: 'intro-l';
}
@mixin transition {
  transition: .2s all ease-in-out;
  -webkit-transition: .2s all ease-in-out;
  -moz-transition: .2s all ease-in-out;
}